.App {
  text-align: center;
  background-color: rgb(7, 88, 7);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul{
  list-style: none;
}

.bar {
  margin:10px;
  height: 20px;
	width:1200px;
	font-family: sans-serif;
}
.bar li {
	display:block;
	width:120px;
	float:left;
	margin-left:100px;
	border:1px solid #000;
}

.bar a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

.bar a:hover {
	background-color:#009;
	color:#fff;
}

img {
  width: 200px;
  height: 200px;
  background-color: grey;
}